@media (max-width: 1160px) {
  .about__item {
    display: block;
  }

  .about__content {
    width: 100%;
  }

  .about__content-text {
    display: block;
  }

  .about__content-text p {
    width: 100%;
    margin-bottom: 20px;
  }

  .about__img {
    margin-bottom: 20px;
  }

  .about {
    text-align: center;
  }

  .about__table {
    width: 100%;
  }

  .slider__arrow-right {
    right: 100px;
    top: -20px;
  }

  .slider__arrow-left {
    left: 100px;
    top: -20px;
  }
}

@media (max-width: 1024px) {
  .login {
    margin-right: 0;
  }

  .title {
    padding: 50px 0;
  }

  .to_book__inner {
    display: block;
  }

  .to_book__text {
    margin: 0;
    font-size: 17px;
    line-height: 18px;
  }

  .to_book__text:not(:last-of-type) {
    margin-right: 40px;
  }

  .to_book__text-media {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .special-offer__item {
    width: 420px;
  }

  .services__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .services__box-list {
    margin-bottom: 140px;
    margin-right: 0;
    width: 100%;
  }

  .services__list-item {
    padding-left: 20px;
  }

  .services__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services__list-item::before {
    left: -10px;
  }
}

@media (max-width: 880px) {
  .header__top {
    padding-top: 30px;
  }

  .menu-btn {
    display: block;
  }

  .menu__list {
    transform: translateY(-150%);
    transition: all .5s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(6, 20, 47);
    background: linear-gradient(90deg, rgba(6, 20, 47, 0.9) 0%, rgba(0, 45, 98, 0.9) 100%);
    padding-top: 90px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
  }

  .menu__list.active {
    transform: translateY(0);
  }

  .menu__item {
    padding: 15px 0;
    margin-right: 0;
  }

  .menu__link {
    display: block;
  }

  .phone,
  .login {
    position: relative;
    z-index: 20;
  }

  .header__content {
    margin: 0 auto;
  }

  .header__description {
    justify-content: center;
  }

  .header {
    background-position: center right;
  }

  .how-to__box svg {
    display: none;
  }

  .how-to__box-list {
    display: block;
    list-style: none;
    text-align: center;
  }

  .how-to__arrow-down {
    cursor: pointer;
    padding: 3px 0 3px;
  }

  .special-offer__inner {
    display: block;
  }

  .special-offer__item {
    width: 100%;
  }

  .special-offer__btn {
    margin-bottom: 25px;
  }

}

@media (max-width: 620px) {
  .header__title {
    font-size: 35px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__title span {
    font-size: 70px;
  }

  .header__text {
    font-size: 17px;
    margin-bottom: 25px;
  }

  .header__text p {
    padding: 0 5px;
  }

  .header__description-text:not(:last-of-type) {
    margin-right: 5px;
  }

  .title {
    padding: 50px 0;
    font-size: 40px;
    line-height: 40px;
  }

  .about__item {
    padding-bottom: 70px;
  }

  .about__table {
    margin-bottom: 30px;
  }

  .about__table-tr:first-child {
    display: none;
  }

  .about__table-td {
    display: block;
    text-align: right;
  }

  .about__table-td span {
    display: inline-block;
  }

  .about__table-td::before {
    content: attr(aria-label);
    float: left;
  }

  .about__table-tr+.about__table-tr {
    line-height: 30px;
    font-size: 25px;
    font-weight: 400;
  }

  .about__table-td:not(:last-of-type) {
    border-bottom: 1px solid #fff;
  }

  .to_book {
    background-position: left;
  }

  .to_book__text {
    font-size: 15px;
    line-height: 17px;
  }

  .title__book-media {
    padding: 30px 0;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (max-width: 435px) {
  .header__text {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .header__title {
    font-size: 28px;
  }

  .header__title span {
    font-size: 56px;
  }

  .header__btn {
    font-size: 19px;
    line-height: 18px;
  }

  .header__description {
    display: block;
  }

  .header__description-text {
    width: 100%;
    text-align: center;
  }

  .header__description-text+.header__description-text {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .header__description-text:not(:last-of-type) {
    margin-left: 0;

  }

  .about__table-tr+.about__table-tr {
    line-height: 20px;
    font-size: 20px;
    font-weight: 400;
  }

  .title {
    padding: 20px 0;
  }

  .to_book__text {
    font-size: 14px;
  }

  .to_book__text-media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title__book-media {
    font-size: 30px;
    line-height: 35px;
  }

  .to_book__text:not(:last-of-type) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

@media (max-width: 370px) {
  .header__text {
    font-size: 12px;
  }

  .title {
    font-size: 26px;
    line-height: 29px;
  }

}